logs/
wandb/
checkpoints/
__pycache__/
.ipynb_checkpoints/
data/
checkpoints_essence_of_imagenet_with_conv_unconv_former/
checkpoints_essence_of_imagenet_with_conv_unconv_former_tbs128/
checkpoints_essence_of_imagenet_with_dropout/
checkpoints_essence_of_imagenet_with_conv_unconv_former_tbs384/
torch_compile_cache/
checkpoints_essence_of_imagenet_with_conv_unconv_former_tbs256/
